// app global css in SCSS form
@import '../.q-press/css/app.scss';
@import '../.q-press/css/fonts.scss';

@import 'quasar/src/css/variables.sass';
@import '../../../ui/src/index.scss';

:root {
  --background-color: transparent;
  --background-color-dark: transparent;
  --text-color: rgb(33, 118, 210);
  --text-color-dark: rgb(204, 231, 255);
  --border-color: transparent;
  --border-color-dark: transparent;
  --text-color-hover: rgb(33, 118, 210);
  --text-color-hover-dark: rgb(204, 231, 255);
  --background-color-hover: transparent;
  --background-color-hover-dark: transparent;
  --border-color-hover: transparent;
  --border-color-hover-dark: transparent;
  --text-color-active: rgb(33, 118, 210);
  --text-color-active-dark: rgb(255, 255, 255);
  --background-color-active: rgba(33, 118, 210, 0.08);
  --background-color-active-dark: rgba(204, 231, 255, 0.4);
  --border-color-active: transparent;
  --border-color-active-dark: transparent;
  --markdown-scrollbar-width-height: 10px;
  --markdown-scrollbar-track: #eeeeee;
  --markdown-scrollbar-thumb: rgb(204, 231, 255);
  --markdown-scrollbar-thumb-hover: rgb(33, 118, 210);
  --markdown-scrollbar-track-dark: #eeeeee;
  --markdown-scrollbar-thumb-dark: rgb(204, 231, 255);
  --markdown-scrollbar-thumb-hover-dark: rgb(33, 118, 210);
}

::-webkit-scrollbar {
  width: var(--markdown-scrollbar-width-height);
  height: var(--markdown-scrollbar-width-height);
}

::-webkit-scrollbar-track {
  background: var(--markdown-scrollbar-track-dark);
  box-shadow: inset 0 0 4px var(--markdown-scrollbar-track-dark);
}

::-webkit-scrollbar-corner {
  background: var(--markdown-scrollbar-track-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--markdown-scrollbar-thumb-dark);
  border-radius: 5px;

  &:hover {
    background: var(--markdown-scrollbar-thumb-hover-dark);
  }
}

p {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

html,
body,
#q-app {
  font-family:
    'Poppins', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 14px;
}
